<style>
  body {
      font: 20px Lato, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
  }
  p {
      font-size: 16px;
      line-height: 1.3;
  }
  p.popup {
	font-size: 16px;
      	line-height: 1.8;
	color: #708090;
	text-align: left;
	  }
  h3.white {
	  color: #fff;
	  line-height: 1.3;
	  }
   h3.white_margin {
	  color: #fff;
	  line-height: 1.3;
	  margin-bottom: 30px;
	  }
  h4.white {
	  color: #fff;
	  margin-bottom: 50px;
	  }
   h4.bottom {
	  color: #708090;
	  margin-bottom: 30px;
	  }
  ul {
  list-style-type: none;
  }
  .bg-1 {
      background-color: #708090; /* Slate Grey */
      color: #fff;
  }
  .bg-2 {
      background-color: #474e5d; /* Dark Blue */
      color: #fff;
  }
  .bg-3 {
      background-color: #fff; /* White */
      color: #555555;
  }
  .bg-4 {
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
  .navbar-nav  li a:hover {
      color: #1abc9c !important;
  }
  .jumbotron p {
	font-size: 16px;
	line-height: 1.3;
	color: #2f2f2f;
  }
  .jumbotron2 {
	  background: images/windows.jpg
  }
  h3 {
	color: #708090;
  }
  h4 {
	color: #708090;
	margin-bottom: 50px;
  }
  </style>
